<div class="mt-4">
    <div>
      
      <a href="/" >    
          Danh sach khoa hoc
      </a>
    </div>
    <h3>Khoa hoc da bi xoa</h3>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ten</th>
      <th scope="col">Trinh do</th>
      <th scope="col2" colspan="2">Thoi gian tao</th>
      
    </tr>
  </thead>
  <tbody>    
        {{#each lessons}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.title}}</td>
            <td>{{this.level}}</td>
            <td>{{this.createdAt}}</td>    
            <td>
                <a href="#" class="btn btn-link btn-restore" data-id="{{this._id}}">Khoi phuc</a>        
                <a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteForeverModal" data-bs-whatever="{{this._id}}">Xoa vinh vien</a>
            </td>
            {{else}}  
            <td colspan="5">
             Thung rac trong. <a href="/me/stored/lessons/">Danh sach khoa hoc</a>
            </td>
        </tr> 
        {{~/each}}
  </tbody>
</table>
</div>


<!-- delete warning -->
<div class="modal fade" id="deleteForeverModal" tabindex="-1" aria-labelledby="deleteForeverModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteForeverModalLabel">Xoa khoa hoc?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Ban co chac chan xoa khoa hoc vinh vien khong?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoat</button>
        <button type="button" class="btn btn-danger" id="btn-delete-lesson">Xoa bo</button>
      </div>
    </div>
  </div>
</div>


{{!-- delete form --}}
<form method="post" name="delete-form"></form>
<form method="post" name="restore-form"></form>


<script>
  var deleteForeverModal = document.getElementById('deleteForeverModal')
  var restoreForm = document.forms['restore-form'];
  deleteForeverModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var id = button.getAttribute('data-bs-whatever') 
 
  var btnConfirmDelete = document.getElementById('btn-delete-lesson');
  var deleteForm = document.forms['delete-form'];


  btnConfirmDelete.onclick = function(){
      
      deleteForm.action = '/lesson/' + id + '/force?_method=DELETE';
      deleteForm.submit();
  }
  
  });

  const restoreBtns = document.querySelectorAll('.btn-restore');  
  for(var restorebtn of restoreBtns)
  {
    
    restorebtn.onclick = (e) => {
      e.preventDefault();
      const id = e.target.getAttribute('data-id');

      restoreForm.action = '/lesson/' + id + '/restore?_method=PATCH';
      restoreForm.submit();

      console.log(id);
    }
  }
</script>