<form class="mt-4" name="container-form" method="POST" action="/lesson/handle-form-actions/">
   
  <h3>Khoa hoc da bi xoa </h3>
  <a href="/me/stored/lessons" >    
        Khoa hoc cua toi
  </a>

  <div class="mt-4 d-flex">
    <div class="form-check form-check-sm">
      <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
      <label class="form-check-label" for="flexCheckDefault">
        Chon tat ca
      </label>
    </div>

    <select class="form-select form-select-sm checkbox-select-all-options" aria-label="Default select example" name="action" required>
      <option value="" selected>---Hanh dong---</option>
      <option value="restore" >Khoi phuc</option>      
      <option value="force" >Xoa vinh vien</option>      
    </select>

    <button type="submit" class="btn btn-primary btn-sm disabled" id="btn-checkAllSubmit">Thuc hien</button>
  </div>
  


  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">#</th>
      <th scope="col">Ten</th>
      <th scope="col">Trinh do</th>
      <th scope="col2" colspan="2">Thoi gian Xoa</th>
      
    </tr>
  </thead>
  <tbody>    
        {{#each lessons}}
        <tr>
            <td>
                <div class="form-check form-check-sm">
                  <input class="form-check-input" type="checkbox" value="{{this._id}}" name="lessonIds">                
                </div>
            </td>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.title}}</td>
            <td>{{this.level}}</td>
            <td>{{this.deletedAt}}</td>    
            <td>
                <a href="#" class="btn btn-link btn-restore" data-id="{{this._id}}">Khoi phuc</a>        
                <a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteForeverModal" data-bs-whatever="{{this._id}}">Xoa vinh vien</a>
            </td>
            {{else}}  
            <td colspan="5">
             Thung rac trong. <a href="/me/stored/lessons/">Danh sach khoa hoc</a>
            </td>
        </tr> 
        {{~/each}}
  </tbody>
</table>
</form>


<!-- delete warning -->
<div class="modal fade" id="deleteForeverModal" tabindex="-1" aria-labelledby="deleteForeverModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteForeverModalLabel">Xoa khoa hoc?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Ban co chac chan xoa khoa hoc vinh vien khong?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoat</button>
        <button type="button" class="btn btn-danger" id="btn-delete-lesson">Xoa bo</button>
      </div>
    </div>
  </div>
</div>


{{!-- delete form --}}
<form method="post" name="delete-form"></form>
<form method="post" name="restore-form"></form>


<script>
  var deleteForeverModal = document.getElementById('deleteForeverModal')
  var restoreForm = document.forms['restore-form'];

  deleteForeverModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      var id = button.getAttribute('data-bs-whatever') 
    
      var btnConfirmDelete = document.getElementById('btn-delete-lesson');
      var deleteForm = document.forms['delete-form'];


      btnConfirmDelete.onclick = function(){
          
          deleteForm.action = '/lesson/' + id + '/force?_method=DELETE';
          deleteForm.submit();
      }
  
  });

  const restoreBtns = document.querySelectorAll('.btn-restore');  
  for(var restorebtn of restoreBtns)
  {
    
    restorebtn.onclick = (e) => {
      e.preventDefault();
      const id = e.target.getAttribute('data-id');

      restoreForm.action = '/lesson/' + id + '/restore?_method=PATCH';
      restoreForm.submit();

      console.log(id);
    }
  }

  var checkboxAll = document.querySelector('#checkbox-all');
  var btnCheckAllSubmit = document.querySelector('#btn-checkAllSubmit');
  var lessonItemCheckboxes = document.querySelectorAll('input[name="lessonIds"]');  
  var containerForm = document.querySelector('form[name="container-form"]');  

    // checked all
  checkboxAll.onchange = e => {
    var isCheckedAll = e.target.checked;
    
    for(var lessonItemCheckbox of lessonItemCheckboxes){
      lessonItemCheckbox.checked = (isCheckedAll === true);
    }
    renderCheckAllButtonSubmit();
  }  

  // lesson item checkbox
  for(var lessonItemCheckbox of lessonItemCheckboxes){       

      lessonItemCheckbox.onchange = e => {
        var checkCount = document.querySelectorAll('input[name="lessonIds"]:checked').length;
        checkboxAll.checked = lessonItemCheckboxes.length === checkCount;  
        renderCheckAllButtonSubmit();
    }  
  }

  // form check if can be submitted
  containerForm.onsubmit = e => {
    
    var isSubmittable = !btnCheckAllSubmit.classList.contains('disabled');
    
    if (!isSubmittable) {     
      e.preventDefault();
    }
  }

  // re-render check all button submit 
  function renderCheckAllButtonSubmit(){
    var checkCount = document.querySelectorAll('input[name="lessonIds"]:checked').length;
    if (checkCount>0)
        {
          btnCheckAllSubmit.classList.remove('disabled')            ;
        } else {
          btnCheckAllSubmit.classList.add('disabled')            ;
        }
  }
</script>